<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Philosophize!</ion-card-title>
      <ion-card-subtitle
        >Home of stoicism and neo-philosophies</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      In this app you're gonna find a lot of useful philosophies, from stoicism,
      to minimalism. We have podcast, lessons and so much more, so don't waste
      any time and jump in!
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/quotes">
    <ion-card-header>
      <ion-card-title>Daily Quote!</ion-card-title>
      <ion-card-subtitle
        >Every day we welcome you with a new stoic quote for you to start your
        day strong!</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Make sure to click on this card to get your daily quote, we also have over
      100 quotes regarding stoicism, minimalism and much more helpful
      philosophies!
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/meditations">
    <ion-card-header>
      <ion-card-title>Meditate!</ion-card-title>
      <ion-card-subtitle
        >Don't forget to do your daily meditation!</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Don't forget to do your daily meditations, it is important to know your
      goals for the day and expectations, talk about your problems and even come
      up with solutions!
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/lessons">
    <ion-card-header>
      <ion-card-title>Lessons!</ion-card-title>
      <ion-card-subtitle
        >Check the latest articles on the philosophies!</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      We try to add more lessons and articles for you to have the most complete
      guide to be a great thinker, here we teach you how to start and do things
      for you to have a great life!
    </ion-card-content>
  </ion-card>
</ion-content>
