<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Philosophize!</ion-card-title>
      <ion-card-subtitle
        >Home of stoicism and neo-philosophies</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      In this app you're gonna find a lot of useful philosophies, from stoicism,
      to minimalism. We have podcast, lessons and so much more, so don't waste
      any time and jump in!
    </ion-card-content>
  </ion-card>
</ion-content>
